.wrapper {
  margin: 0;
  padding: 0.5rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  cursor: pointer;

  &:hover {
    background-color: rgba(var(--callout-rgb), 0.8);
  }
}
